<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://unpkg.com/stickybits@2.0.2/dist/stickybits.min.js"></script>
<script src="/assets/global.js"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a50bb9501c7d2001334832e&amp;product=inline-share-buttons"></script>
{% if (env == 'production') %}
  {% include "layouts/el/analytics.njk" %}
{% endif %}
