<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-jsx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-git.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickybits/3.2.0/stickybits.min.js"></script>
<script src="/assets/global.js"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a50bb9501c7d2001334832e&amp;product=inline-share-buttons"></script>
{% if (env == 'production') %}
  {% include "layouts/el/analytics.njk" %}
{% endif %}
