<script src="/assets/prism.js"></script>
<script src="/assets/stickybits.min.js"></script>
<script src="/assets/global.js"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a50bb9501c7d2001334832e&amp;product=inline-share-buttons"></script>
{% if (env == 'production') %}
  {% include "layouts/el/analytics.njk" %}
{% endif %}
