<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="LjLC6GCkUz9twdPnmBQ3plfDR_F_AK93PefchZ5HlkU">
<meta property="fb:pages" content="{{ social.fbPageId }}">
<meta property="fb:app_id" content="{{ social.fbAppId }}"/>
<link rel="alternate" type="application/rss+xml" title="Các bài viết mới nhất của Ehkoo" href="/rss.xml">
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inter:wght@300,400,500,600,700&display=swap&subset=vietnamese"
/>
<link rel="shortcut icon" href="/assets/favicon.png" />
<link rel="stylesheet" href="/assets/reset.css" />
<link rel="stylesheet" href="/assets/main.css" />
<link rel="stylesheet" href="/assets/custom.css" />
