<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="LjLC6GCkUz9twdPnmBQ3plfDR_F_AK93PefchZ5HlkU">
<meta property="fb:pages" content="{{ social.fbPageId }}">
<meta property="fb:app_id" content="{{ social.fbAppId }}" />
<link rel="alternate" type="application/rss+xml" title="Các bài viết mới nhất của Ehkoo"  href="/rss.xml">
<link rel="icon" type="image/png" href="/assets/img/logo-48.png">
<link rel="stylesheet" href="/assets/minireset.min.css">
<link rel="stylesheet" href="/assets/tachyons.min.css">
<link rel="stylesheet" href="/assets/prism-tomorrow.min.css">
<link rel="stylesheet" href="/assets/style.css">
