<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:pages" content="122317275146521" />
<meta name="google-site-verification" content="LjLC6GCkUz9twdPnmBQ3plfDR_F_AK93PefchZ5HlkU" />
<link rel="icon" type="image/png" href="/assets/img/logo-48.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/twemoji-awesome@1.0.6/dist/twemoji-awesome.min.css">
<link rel="stylesheet" href="/assets/style.css">
