<meta name="description" content="{{ excerpt }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ social.twitterHandle }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ excerpt }}">
<meta name="twitter:image" content="{{ cover }}" />
<meta property="og:site_name" content="{{ siteName }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ excerpt }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ cover }}" />
