<div class="w-20-l">
  <div class="mr3-ns">
    {% include "layouts/el/widgets/links.njk" %}
    <section class="br1 mb3 bg-gold pa3 flex items-center">
      <a href="https://kipalog.com/" class="mid-gray" target="_blank">
        <h1 class="f4 ma0 fw7 tc ttu">kipalog</h1>
        <h2 class="f5 mv2 fw4 tc lh-copy"> Nền tảng chia sẻ kiến thức cho lập trình viên </h2>
      </a>
    </section>
    {% include "layouts/el/widgets/tools.njk" %}

  </div>

  <div class="top-1 sticky clip-m">
    <div class="mr3-ns">
      {% include "layouts/el/jump-top.njk" %}
    </div>
  </div>
</div>

<div class="w-20-l">
  <div class="top-1 sticky">
    {% include "layouts/el/widgets/subscription.njk" %}
    {% include "layouts/el/widgets/social.njk" %}
    {% include "layouts/el/widgets/recruit.njk" %}
  </div>
</div>
