<div class="flex flex-column flex-row-ns">
  <div class="w-50-l mr3-ns">
    {% include "layouts/el/widgets/links.njk" %}
    {% include "layouts/el/widgets/tools.njk" %}
  </div>

  <div class="w-50-l">
    {% include "layouts/el/widgets/subscription.njk" %}
    {% include "layouts/el/widgets/social.njk" %}
    {% include "layouts/el/widgets/recruit.njk" %}
  </div>
</div>
