<div class="w-25-l">
  <div class="top-1">
    {% include "layouts/el/widgets/subscription.njk" %}
    {% include "layouts/el/widgets/social.njk" %}
    {% include "layouts/el/widgets/recruit.njk" %}
  </div>

  <section class="br1 mb3 bg-gold pa3 flex items-center">
    <a href="https://kipalog.com/" class="db w-100 mid-gray" target="_blank">
      <h1 class="f4 ma0 fw7 tc ttu">kipalog</h1>
      <h2 class="f5 mv2 fw4 tc lh-copy"> Nền tảng chia sẻ kiến thức cho lập trình viên </h2>
    </a>
  </section>

  <div class="top-1 sticky clip-m">
    {% include "layouts/el/jump-top.njk" %}
  </div>
</div>
