<div class="flex flex-column flex-row-ns">
  <div class="w-70-l pa3">
    <h2 class="mv3 f4 fw7"><a href="/{{ post.path }}" class="red">{{ post.title }}</a></h2>
    <p class="mv2 gray f6 i">
      {{ post.date }} &mdash; {{ post.wordCount }} từ &mdash; {{ post.readingTime }}
    </p>
    <div class="h4 clip-ns">
      <div class="bg-center contain h-100" style="background-image: url({{ post.cover }})"></div>
    </div>
    <p class="mv3 lh-copy f5">{{ post.excerpt }}</p>
  {% if post.tags %}
    {% set postTags = post.tags | slice(3) | first if post.tags.length > 3 else post.tags %}
    <ul class="list">
    {% for tag in postTags %}
      <li class="dib"><a href="/chu-de/{{ tag.slug }}" class="db mb1 mr1 pv1 ph2 white bg-blue f6">#{{ tag.name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <div class="w-30-l clip-m">
    <div class="bg-center cover h-100" style="background-image: url({{ post.cover }})"></div>
  </div>
</div>
