.grid {
  display: grid;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  &-md {
    @media (--md) {
      flex-direction: row;
    }
  }
}

.align-center {
  align-items: center;

  &-md {
    @media (--md) {
      align-items: center;
    }
  }
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}
