.grid {
  display: grid;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row-md {
  @media (--md) {
    flex-direction: row;
  }
}

.align-content-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-center-md {
  @media (--md) {
    align-items: center;
  }
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: var(--size-1);
}

.gap-2 {
  gap: var(--size-2);
}

.gap-3 {
  gap: var(--size-3);
}
