@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk[wght].woff2') format('woff2');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk[wght].woff2') format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk[wght].woff2') format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk[wght].woff2') format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk[wght].woff2') format('woff2');
}

@font-face {
  font-family: 'RecursiveMonoLnrSt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2');
}
