:root {
  --spacer: 8px; /* Atomic class spacer */
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.ml-4 {
  margin-left: 16px;
}

@each $i in 0, 1, 2 {
  .pl-$(i) {
    padding-left: calc(var(--spacer) * $(i));
  }
}
