@import url('./_reset.css');
@import url('./_fonts.css');
@import url('./_space.css');
@import url('./_flex-grid.css');
@import url('./_text.css');
@import url('./_color.css');

@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 960px);
@custom-media --xl (min-width: 1280px);

:root {
  --user-font-scale: 1rem - 16px;

  --font-monospace: 'Iosevka', Apple Color Emoji, Segoe UI Emoji, monospace;

  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

:root {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  color: var(--gray-8);
}

a {
  color: var(--indigo-7);

  &:hover {
    color: var(--indigo-6);
  }
}

body {
  background-color: var(--gray-2);
}

code {
  font-family: var(--font-monospace);
}

.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  @media (--lg) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
