:root {
  --surface-0: var(--gray-0);
  --surface-1: var(--gray-1);
  --surface-2: var(--gray-3);

  --text-primary: var(--gray-8);
  --text-secondary: var(--gray-7);

  --border-primary: var(--gray-5);

  --link-primary: var(--gray-7);
  --link-hover: var(--gray-8);

  --code-background: var(--stone-2);
  --code-color: var(--stone-9);
  --code-font-size: 0.85em;
}

body {
  --font-monospace: 'Jetbrains Mono', Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco,
    Droid Sans Mono, Source Code Pro, monospace;

  --font-sans: 'Haskoy', 'Hanken Grotesk', 'Space Grotesk', 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  font-family: var(--font-sans);
  color: var(--text-primary);
  font-feature-settings: 'ss02', 'ss03', 'ss04';

  font-size: 1.125rem;

  @media (width > 60rem) {
    font-size: 1rem;
  }
}

a {
  color: var(--link-primary);
  border-radius: var(--radius-2);

  &:hover {
    color: var(--link-hover);
  }

  &:focus-visible {
    text-decoration: none;
  }
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--indigo-6);
}

body {
  background-color: var(--surface-0);
}

code {
  font-family: var(--font-monospace);
}

/* Prose */

.global\:content * {
  scroll-margin-block-start: 3em;
}

.global\:content {
  max-width: 75ch;

  & > * + * {
    margin-block-start: 1em;
  }

  & :is(ul, ol) {
    list-style-type: initial;
    & > * + * {
      margin-block-start: 0.5em;
    }
  }

  & :is(img) {
    border-radius: var(--radius-2);
  }

  & :is(em) {
    font-style: italic;
  }

  & :is(video, iframe) {
    max-width: 100%;
    margin: var(--size-3) auto;
  }

  & :is(figcaption) {
    color: var(--stone-8);
  }

  & :is(h1, h2) {
    font-weight: 700;
    margin-block-start: 1.5em;
  }

  /* inline code */
  & :not(pre):not(code) > code {
    font-size: var(--code-font-size);
    padding: 2px 4px;
    border-radius: var(--radius-1);
    color: var(--code-color);
    background-color: var(--code-background);
    font-variant-ligatures: none;
    word-break: break-word;
  }

  & :is(blockquote) {
    background-color: #fff;
    border: 1px solid var(--gray-3);
    border-left: 8px solid var(--gray-7);
    padding: 16px;
    border-radius: 4px;
  }

  & :is(table) {
    width: 100%;
  }

  & :is(table, th) {
    border-collapse: collapse;
    border: 1px solid var(--gray-5);
  }

  & :is(thead) {
    background-color: var(--gray-4);
  }

  & :is(th, td) {
    padding: var(--size-1) var(--size-2);
  }

  & :is(td) {
    border-left: 1px solid var(--gray-4);
  }

  & :is(tr):nth-child(2n) td {
    background-color: var(--gray-2);
  }

  & :is(pre) {
    padding: 1rem;
    font-variant-ligatures: none;
    font-size: var(--code-font-size);
    background-color: var(--gray-2) !important;
    border-radius: 4px;
  }

  & :is(iframe) {
    border: none;
    width: 100%;
    min-height: 300px;
  }

  /* web component to render a browser-like frame.
   * nice to have for iframe demos.
   */
  & :is(browser-window) {
    display: block;
  }
}

/* Utilities */
.flow > * + * {
  margin-block-start: var(--flow-space, var(--size-3));
}

.mb-3 {
  margin-block-end: var(--size-3);
}

.no-underline-link:not(:hover) {
  text-decoration: none;
}

.has-icon {
  display: inline-flex;
  align-items: center;
  gap: 1ch;
}
