body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Lato, Roboto, 'Source Sans Pro', Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
}

.flex-1 {
  flex: 1;
}

ul,
ol {
  padding: 0;
}

a {
  color: #1b6ec2;
  text-decoration: none;
}

svg {
  max-width: 100%;
}

.last-child-no-border > *:last-child {
  border: none;
}

.sticky {
  position: sticky;
}

.hljs {
  border-radius: 0.15rem;
  font-size: 1rem;
  font-family: 'Fira Mono', 'Source Code Pro', 'Ubuntu Mono', monospace;
}

.content a {
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #1b6ec2;
}

.content p {
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content code:not([class~='hljs']) {
  font-size: 1rem;
  background-color: #dee2e6;
  padding: 0.15rem 0.3rem;
  border-radius: 0.15rem;
}

.content blockquote {
  background-color: #e9ecef;
  margin: 1em 0;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  border-left: 0.5rem solid #dee2e6;
  position: relative;
}

.content blockquote p {
  position: relative;
  z-index: 1;
}

.content blockquote::after {
  z-index: 0;
  content: '“ ”';
  font-family: serif;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 3.5rem;
  color: #ced4da;
  font-weight: 700;
  transform: translateY(50%) rotate(15deg);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #357edd;
  margin: 1.5rem 0;
  font-weight: 600;
  position: relative;
}

.content h1 {
  font-size: 3rem;
}
.content h2 {
  font-size: 2.25rem;
}
.content h3 {
  font-size: 1.5rem;
}
.content h4 {
  font-size: 1.25rem;
}
.content h5 {
  font-size: 1rem;
}
.content h6 {
  font-size: 0.875rem;
}

@media screen and (min-width: 60em) {
  .content ul,
  .content ol {
    margin: 0 3rem;
  }
}

.content ul,
.content ol {
  margin: 0 2rem;
}

.content ul {
  list-style-type: circle;
}

.content ol {
  list-style-type: decimal;
}

.content ol li,
.content ul li {
  padding-left: 1rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.quote {
  position: relative;
}

.quote::before {
  content: '“';
  font-family: georgia, times, serif;
  font-weight: 700;
  color: #aaa;
  font-size: 2em;
  position: absolute;
  bottom: 100%;
  left: 1rem;
}

.quote::after {
  content: '”';
  font-family: georgia, times, serif;
  font-weight: 700;
  color: #aaa;
  font-size: 2em;
  position: absolute;
  top: 100%;
  right: 1rem;
}

.heading-archor {
  height: 20px;
  border-bottom: 0 !important;
  width: 20px;
  margin-left: -1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  height: 100%;
  background: transparent;
}

.heading-archor:before {
  content: '¶';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5291e2;
}

@media screen and (max-width: 60em) {
  .heading-archor:before {
    left: 10px;
  }
}

@media screen and (min-width: 60em) {
  .heading-archor:before {
    display: none;
  }

  .heading-archor:hover:before {
    display: flex;
  }
}
