body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Lato, Roboto, 'Source Sans Pro', Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #eeeeee;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23cccccc' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.flex-1 {
  flex: 1;
}

ul,
ol {
  padding: 0;
}

a {
  color: #1b6ec2;
  text-decoration: none;
  cursor: pointer;
}

svg {
  max-width: 100%;
}

.last-child-no-border > *:last-child {
  border: none;
}

.bg-slighly-dark-gray-hover:hover {
  background-color: #3b3b3b;
}

.sticky {
  position: sticky;
}

.hljs {
  border-radius: 0.15rem;
  font-size: 1rem;
  font-family: 'Fira Mono', 'Source Code Pro', 'Ubuntu Mono', monospace;
}

.content a {
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #1b6ec2;
}

.content p {
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content code:not([class~='hljs']) {
  font-size: 1rem;
  background-color: #dee2e6;
  padding: 0.15rem 0.3rem;
  border-radius: 0.15rem;
}

.content blockquote {
  background-color: #e9ecef;
  margin: 1em 0;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  border-left: 0.5rem solid #dee2e6;
  position: relative;
}

.content blockquote p {
  position: relative;
  z-index: 1;
}

.content blockquote::after {
  z-index: 0;
  content: '“ ”';
  font-family: serif;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 3.5rem;
  color: #ced4da;
  font-weight: 700;
  transform: translateY(50%) rotate(15deg);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #ff4136;
  margin: 1.5rem 0;
  font-weight: 600;
  position: relative;
}

.content h1 {
  font-size: 3rem;
}
.content h2 {
  font-size: 2.25rem;
}
.content h3 {
  font-size: 1.5rem;
}
.content h4 {
  font-size: 1.25rem;
}
.content h5 {
  font-size: 1rem;
}
.content h6 {
  font-size: 0.875rem;
}

.content .bn {
  border: none;
}

@media screen and (min-width: 60em) {
  .content ul,
  .content ol {
    margin: 0 3rem;
  }
}

.content ul,
.content ol {
  margin: 0 2rem;
}

.content ul {
  list-style-type: circle;
}

.content ol {
  list-style-type: decimal;
}

.content ol li,
.content ul li {
  padding-left: 1rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.heading-archor {
  height: 20px;
  border-bottom: 0 !important;
  width: 20px;
  margin-left: -1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  height: 100%;
  background: transparent;
}

.heading-archor:before {
  content: '¶';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5291e2;
}

@media screen and (max-width: 60em) {
  .heading-archor:before {
    left: 10px;
  }
}

@media screen and (min-width: 60em) {
  .heading-archor:before {
    display: none;
  }

  .heading-archor:hover:before {
    display: flex;
  }
}

.box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.grid {
  display: grid;
}

.box-break-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.container {
  max-width: 80em;
}

.home-grid {
  grid-gap: 1rem;
}

.home-grid {
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.box-social {
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0575e6, #00f260); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-social:hover .box-social__fig {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: jackInTheBox;
  transform-origin: center bottom;
}

.box-subscription {
  border: 16px solid transparent;
  border-image: 16
    repeating-linear-gradient(
      -45deg,
      red 0,
      red 0.7em,
      transparent 0,
      transparent 1.4em,
      #58a 0,
      #58a 2.1em,
      transparent 0,
      transparent 2.8em
    );
}

.box-recruitment {
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffd200, #f7971e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (min-width: 60em) {
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .home-grid .home-grid__article--big {
    grid-column-end: span 2;
  }

  .home-grid .home-grid__article--vertical {
    flex-direction: row-reverse;
  }

  .home-grid .home-grid__article:first-child {
    grid-column-end: span 2;
  }

  .home-grid .home-grid__series {
    grid-column-start: 4;
    grid-row: 1 / span 2;
  }

  .home-grid .home-grid__box-subcription {
    grid-column-end: span 2;
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.break-word {
  word-wrap: break-word;
}
