<!-- Begin MailChimp Signup Form -->
<div class="bg-gray-400 p-4 rounded-md">
  <form action="https://ehkoo.us16.list-manage.com/subscribe/post?u=f879261eee9d626d9247f34d2&amp;id=729bd10e61" method="post" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <label for="mce-EMAIL" class="block mb-4">Nhập vào địa chỉ email của bạn</label>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f879261eee9d626d9247f34d2_729bd10e61" tabindex="-1" value=""></div>
    <div class="flex mb-4">
      <input type="email" value="" name="EMAIL" placeholder="pikalong@ehkoo.dev" id="mce-EMAIL" class="px-4 py-2" required>
      <input type="submit" value="Nhận font nào" name="subscribe" id="mc-embedded-subscribe" class="font-sans bg-orange-200 text-orange-800 px-4">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
