<div class="bg-dark-gray gold br2 pa3 ma3 mw7 center">
  <p class="lh-copy f4 mb4">Bạn thích bài viết này? Đăng ký nhận Bản tin Ehkoo NGAY, để luôn được cập nhật tin tức mới nhất về thế giới front-end nhé!</p>
  {% include "layouts/forms/newsletter.njk" %}
</div>
