<div class="bg-light-gray br2 pa3 ma3 mw6 center">
  <form action="https://ehkoo.us16.list-manage.com/subscribe/post?u=f879261eee9d626d9247f34d2&amp;id=6ebec958f6" method="post" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <label for="mce-EMAIL" class="f4 fw6 dark-blue lh-copy">Bạn thấy bài viết này hữu ích? Đăng ký nhận email của Ehkoo để luôn được đọc bài mới nhé.</label>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f879261eee9d626d9247f34d2_6ebec958f6" tabindex="-1" value=""></div>
    <div class="flex flex-column flex-row-ns w-100 justify-between mt3">
      <input type="email" value="" name="EMAIL" placeholder="pikalong@ehkoo.dev" id="mce-EMAIL" class="flex-1 bn pa2 bg-white monospace f5 outline-0 mb2 mb0-ns" required>
      <input type="submit" value="Đăng ký" name="subscribe" id="mc-embedded-subscribe" class="bg-orange white bn tracked f6 fw6 br1 pv2 pointer">
    </div>
  </form>
</div>
