<div class="bg-gray-300 p-2 rounded-md">
  <p class="mb-2"><strong class="font-bold">Bạn thích bài viết này?</strong></p>
  <p class="mb-2">Đăng ký nhận Bản tin Ehkoo NGAY, để luôn được cập nhật tin tức mới nhất về thế giới front-end nhé!</p>
  {% include "forms/newsletter.njk" %}
</div>
