<div id="mc_embed_signup">
  <form action="https://ehkoo.us16.list-manage.com/subscribe/post?u=f879261eee9d626d9247f34d2&amp;id=26c50a5dc4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f879261eee9d626d9247f34d2_26c50a5dc4" tabindex="-1" value=""></div>
      <div class="flex items-center justify-between-ns bg-light-gray w-100 pa1 br1">
        <input required name="EMAIL" id="mce-EMAIL" value="" type="email" class="w-75 bn pa2 bg-transparent f6 monospace outline-0" placeholder="pikalong@ehkoo.dev">
        <button id="mc-embedded-subscribe" type="submit" class="w-25 tc bg-orange white bn tracked f6 fw6 br1 pv2 pointer">Gửi</button>
      </div>
    </div>
  </form>
</div>
