<div class="bg-dark-blue white br2 pa3 ma3 mw7 center">
  <p class="lh-copy f4 mb4">Bạn có hứng thú với React và muốn biết những thông tin mới nhất trong cộng đồng? Hãy để lại email, Ehkoo sẽ gửi tin đến tận tay bạn.</p>
  {% include "layouts/forms/react-a-y.njk" %}
</div>
