<div class="bg-gray-300 p-2 rounded-md">
  <p class="mb-2"><strong class="font-bold">Bạn có hứng thú với React và muốn biết những thông tin mới nhất trong cộng đồng?</strong></p>
  <p class="mb-2">Hãy để lại email, Ehkoo sẽ gửi tin đến tận tay bạn.</p>
  {% include "forms/react-a-y.njk" %}
</div>
