<form action="https://ehkoo.us16.list-manage.com/subscribe/post?u=f879261eee9d626d9247f34d2&amp;id=26c50a5dc4" method="post" name="mc-embedded-subscribe-form" class="flex mb-2" target="_blank" novalidate>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f879261eee9d626d9247f34d2_26c50a5dc4" tabindex="-1" value=""></div>
  <input required class="px-4 py-2" name="EMAIL" value="" type="email" placeholder="pikalong@ehkoo.dev">
  <button type="submit"  class="font-sans bg-orange-200 text-orange-800 px-4">
    Gửi
  </button>
</form>
