<div id="js-fb-box" class="shadow-3 pa3 mv3 center mw7">
  <div class="lh-copy mb3 f6 fw6 light-silver">5s quảng cáo</div>
  <div class="flex flex-column flex-row-ns items-center">
    <div class="db ph3">
      <img src="/assets/img/like.png" alt="">
    </div>
    <a target="_blank" href="{{ social.facebook }}" class="ph2 lh-copy bn">
      <span class="f4-ns blue fw7">Đừng quên like/theo dõi Ehkoo trên Facebook để nhận được thông tin khi có bài viết mới nhé.</span><br>
      <span class="i">https://www.facebook.com/ehkoo.dev</span>
    </a>
  </div>
</div>
