{% if arbitraryData.links %}
<section class="br1 bg-white pa3 mb3">
  <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Lụm lặt</h1>
  <ul class="list last-child-no-border">
  {% for link in arbitraryData.links %}
    <li class="bb b--light-gray pb3 mv2">
      <a href="{{ link.url }}" class="db" target="_blank">
        <span class="lh-copy fw6 dark-gray">{{ link.title }}</span>
        <span class="ml1 gray f6">({{ link.hostname }})</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
