<section class="br1 bg-white pa3 mb3">
  <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Lụm lặt</h1>
  <ul class="list last-child-no-border">
    <li class="bb b--light-gray pb3 mv2">
      <a href="#" class="db">
        <span class="lh-copy fw6 dark-gray">[en] util.promisify trong node8 quá ngon đi</span>
        <span class="ml1 gray f6">(hackernoon.com)</span>
      </a>
    </li>
    <li class="bb b--light-gray pb3 mv2">
      <a href="#" class="db">
        <span class="lh-copy fw6 dark-gray">Algorithm in Frontend - Kỳ 1: Xử lý dữ liệu trên Frontend</span>
        <span class="ml1 gray f6">(thefullsnack.com)</span>
      </a>
    </li>
    <li class="bb b--light-gray pb3 mv2">
      <a href="#" class="db">
        <span class="lh-copy fw6 dark-gray">Chuyện bản quyền bài viết</span>
        <span class="ml1 gray f6">(codeaholicguy.com)</span>
      </a>
    </li>
    <li class="bb b--light-gray pb3 mv2">
      <a href="#" class="db">
        <span class="lh-copy fw6 dark-gray">[en] Tui chia tay với Higher Order Component đây</span>
        <span class="ml1 gray f6">(medium.com)</span>
      </a>
    </li>
  </ul>
</section>
