{% if quickNews.length > 0 %}
<div class="mb4">
  <h1 class="dib fw7 code tracked ttu bg-blue white pa2 f4">Tin siêu ngắn</h1>
  <div class="flex flex-wrap justify-center mv1">
  {% for news in quickNews %}
    <div class="mv1 w-100 w-25-ns">
      <div class="bg-white ma1 pa3 h-100">
        <h3 class="f4 fw4 i navy">
          {% if news.url %}
          <a href="{{ news.url }}" target="_blank" class="navy">{{ news.title }}</a>
          {% else %}
          {{ news.title }}
          {% endif %}
        </h3>
        {% if news.contents %}
        <div class="mid-gray lh-copy">{{ news.contents | safe }}</div>
        {% endif %}

        <p class="ma0 tr lh-copy"><small class="f7 silver">{{ news.date }}</small></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
