<div class="mb3"><span class="dib ph3 pv1 bg-green white ttu fw7">Ebook Miễn Phí</span></div>
<h2 class="mb3 tracked ttu gold lh-copy fw6 f4 bb b--gold">React từ A đến Y</h2>
<p class="lh-copy mv2"><img src="https://res.cloudinary.com/duqeezi8j/image/upload/v1515693014/react_ywwrxy.png" alt="" class="pa1 bg-white"></p>
<p class="flex items-center lh-copy mt0 mb2 washed-blue"><img class="w2 pa1" src="/assets/emoji/1f1fb-1f1f3.svg" alt="VN"> <span class="ml2">100% tiếng Việt</span></p>
<p class="flex items-center lh-copy mt0 mb2 washed-blue"><img class="w2 pa1" src="/assets/emoji/2728.svg" alt="" /> <span class="ml2">React 16 mới keng xà beng</span></p>
<p class="flex items-center lh-copy mt0 mb2 washed-blue"><img class="w2 pa1" src="/assets/emoji/1f916.svg" alt="" /> <span class="ml2">Đầy đủ khái niệm cơ bản/nâng cao</span></p>
<p class="flex items-center lh-copy mt0 mb2 washed-blue"><img class="w2 pa1" src="/assets/emoji/1f917.svg" alt="" /> <span class="ml2">Hướng dẫn chi tiết, siêu dễ hiểu </span></p>
<p class="flex items-center lh-copy mt0 mb2 washed-blue"><img class="w2 pa1" src="/assets/emoji/2692.svg" alt="" /> <span class="ml2">Xây dựng ứng dụng thực tế</span></p>

<p class="lh-copy mt4 mb3 washed-blue">Hãy để lại email và Ehkoo sẽ thông báo cho bạn khi quyển sách này hoàn thành.</p>
{% include "forms/react-a-y.njk" %}
