<section class="flex items-center box-recruitment h-100 pa3 br1">
  <a href="/cong-tac" class="white flex justify-center items-center w-100 h-100 tc">
    <div class="flex flex-column">
      <p class="w4 h4 bg-gold br-100 flex items-center justify-center center">
        <img src="/assets/img/gal.png" alt="Gal" class="dib">
        <img src="/assets/img/guy.png" alt="Guy" class="dib">
      </p>
      <h2 class="mv3 fw7 f2 tc ttu">Cộng tác viên</h2>
      <p class="lh-copy fw6 f4">Bạn muốn viết bài cùng Ehkoo? <br> Click ngay!</p>
    </div>
  </a>
</section>
