<section class="br1 bg-navy pa3 mb3 h5 flex items-center">
  <a href="#" class="white">
    <h1 class="mv2 fw7 f2 tc ttu tracked">Tuyển dụng</h1>
    <h2 class="mv2 f5 tc lh-copy code">Ehkoo đang cần tìm chuyên gia viết Markdown. Click để xem chi tiết.</h2>
  </a>
</section>
