{% if relatedPosts %}
<div class="mb-4 container mx-auto">
  <section class="px-2">
    <h2 class="text-3xl my-4 text-gray-700 font-700">
      Bài viết liên quan
    </h2>
    <div class="flex flex-col md:flex-row flex-wrap">
    {% for item in relatedPosts %}
      <div class="md:w-1/2 xl:w-1/4">
        <a href="{{ item.fullUrl }}" class="block mb-4 px-2">
          <figure>
            <img
              src="{{ item.thumbnailUrl }}"
              class="rounded-md block mb-2 object-cover h-24"
              alt="{{ item.title }}"
              title="{{ item.title }}"
            />
          </figure>
          <h2 class="text-pink-600">{{ item.title }}</h2>
        </a>
      </div>
    {% endfor %}
    </div>
  </section>
</div>
{% endif %}
