{% if relatedPosts %}
<section class="br1 bg-white pa3 mb3 box-shadow-1">
  <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Bài liên quan</h1>
  <div class="flex-ns flex-wrap-ns">
  {% for item in relatedPosts %}
    <div class="w-50-ns mv2 flex items-center">
      <div class="pa2">
        <div style="background-image: url({{ item.cover }})" class="br1 bg-center cover w3 h3"></div>
      </div>
      <a href="{{ item.fullUrl }}"><h5 class="lh-copy f5 fw6 dark-gray">{{ item.title }}</h5></a>
    </div>
  {% endfor %}
  </div>
</section>
{% endif %}
