<a rel="noopener noreferrer" target="_blank" href="{{ social.facebook }}" class="white flex justify-center items-center tc box-social h-100 pa3 br1">
  <div class="flex flex-column">
    <p class="w4 h4 bg-white br-100 flex items-center justify-center center">
      <img loading="lazy" src="/assets/img/like.png" alt="Like us on Facebook" class="box-social__fig">
    </p>
    <p class="mv3 f4 fw6">Tặng một like thể hiện tình cảm nha! <i class="twa twa-lg twa-1f496"></i></p>
  </div>
</a>
