<section class="br1 bg-white pa3 mb3" id="mc_embed_signup">
  <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Đăng ký bản tin</h1>
  <p class="lh-copy mv3">Quá lười để vào ehkoo mỗi ngày? Không sao hết, Ehkoo sẽ gửi bài đến email của bạn mỗi tuần.</p>
  <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2x864/id/1" method="post" target="_blank">
    <input type="hidden" name="js_id" id="js_id" value="2x864">
    <input type="hidden" name="listid" id="listid" value="2">
    <input type="hidden" name="from_url" id="from_url" value="yes">
    <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
    <input type="hidden" name="sib_simple" value="simple">
    <input type="hidden" name="sib_forward_url" value="https://ehkoo.com/cam-on-ban" id="sib_forward_url">
    <input name="req_hid" id="req_hid" value="" type="hidden">
    <div class="flex items-center justify-between bg-near-white w-100 pa1 br1">
      <input required name="email" id="email" value="" type="email" class="w-80 bn pa2 bg-transparent f6" placeholder="an@awesome.dev">
      <button type="submit" class="bg-lightest-blue blue bn ttu f6 fw6 br1 pa2">OK</button>
    </div>
  </form>
  <p class="lh-copy mv3">Đảm bảo chất lượng, hứa không bao giờ spam.</p>
</section>
