<section class="br1 bg-white pa3 mb3">
  <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Đăng ký bản tin</h1>
  <p class="lh-copy f6 mv3">Quá lười để vào ehkoo mỗi ngày? Không sao hết, hãy điền email bạn vào đây. Mỗi tuần 5 bài viết được nhiều người xem nhất sẽ được gửi đến bạn.</p>
  <form action="#">
    <input type="email" placeholder="banh.beo@local.dev" class="w-100 br1 pa2 b--light-gray ba f6">
  </form>
  <p class="lh-copy f6 mv3">Đảm bảo chất lượng, hứa không bao giờ spam.</p>
</section>
