---
const { variant = 1 } = Astro.props
---

<style>
  .avatar {
    background-color: var(--_bg-color, var(--stone-3));
    aspect-ratio: 1 / 1;
    border-radius: var(--_radius, var(--radius-blob-1));
    display: flex;
    place-content: center;
    place-items: center;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-1);
    line-height: 0;

    &[data-variant='css'] {
      --_radius: var(--radius-blob-3);
      --_bg-color: var(--indigo-3);
    }
    &[data-variant='js'] {
      --_radius: var(--radius-blob-2);
      --_bg-color: var(--yellow-3);
    }
    &[data-variant='html'] {
      --_radius: var(--radius-blob-4);
      --_bg-color: var(--pink-3);
    }
    &[data-variant='react'] {
      --_radius: var(--radius-blob-5);
      --_bg-color: var(--blue-3);
    }
    &[data-variant='vue'] {
      --_radius: var(--radius-blob-5);
      --_bg-color: var(--green-3);
    }
  }
</style>

<div class="avatar" data-variant={variant}>
  <slot />
</div>
