<div class="text-xs text-gray-6 pl-2">
  <p>
    &copy; 2017 &ndash; {new Date().getFullYear()}. Tác giả giữ bản quyền bài viết. Xây dựng bằng <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener nofollower">
      Astro 1.4.2
    </a>
  </p>
</div>
