<style>
  .btn-subscribe {
    background-color: var(--gray-9);
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 8px;
    &:hover {
      background-color: var(--gray-8);
    }
  }

  .newsletter-email {
    padding: 8px;
    border: 1px solid var(--gray-4);
    border-radius: 4px;
  }

  .buttondown-link {
    font-size: var(--font-size-0);
    text-decoration: none;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/ehkoo"
  method="post"
  target="popupwindow"
  class="flex flex-column gap-2">
  <input type="email" name="email" placeholder={Astro.props.placeholder ?? 'Nhập email của bạn'} class="newsletter-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="hidden" name="tag" value="WeeklyNewsletter" />
  <slot />
  <button class="btn-subscribe" type="submit">Nhận bản tin</button>

  <a href="https://buttondown.email" target="_blank" rel="noopener noreferrer" class="buttondown-link">
    Powered by Buttondown
  </a>
</form>
