.top {
  display: grid;
  gap: 16px;
  @media (--lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.article {
  display: grid;
  gap: 16px;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--lg) {
    grid-template-columns: 320px 320px;
  }

  @media (--lg) {
    &:nth-child(1) {
      grid-column-end: 1;
    }
    &:nth-child(2) {
      grid-row-start: 2;
    }
    &:nth-child(3) {
      grid-row-start: 3;
    }
  }
}
