---
import PostList from './PostList.astro'
import { getPostsForHomepage } from '../lib.js'

const posts = getPostsForHomepage(Astro.fetchContent('../pages/bai-viet/*.md'))
---
<style>
.btn {
    font-weight: 500;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;

    &:not(&--disabled):hover {
      background-color: var(--oc-indigo-1);
    }
}
</style>
<div class="mb-2">
    <PostList posts={posts} />
</div>
<div class="text-center">
    <a href="/bai-viet" class="btn">Tất cả bài viết</a>
</div>
