---
import { getPostsForHomepage, getNewsletters, groupPostsByYear } from '../lib.js'

import PostList from './post/PostList.astro'
import Newsletter from './newsletter/CallToAction.astro'
import TopPosts from './TopPosts.astro'

const TOP_POSTS = 3

const posts = getPostsForHomepage(await Astro.glob('../pages/bai-viet/*.md'))
const top = posts.slice(0, TOP_POSTS)
const groups = groupPostsByYear(posts.slice(TOP_POSTS))
const sortedYears = Object.entries(groups).sort(([a], [b]) => Number(b) - Number(a))

const newsletters = getNewsletters(await Astro.glob('../pages/ban-tin/*.md'))
---

<div class="flow" style="--flow-space: 1em;">
  <h2>Bài viết mới</h2>
  <TopPosts posts={top} />

  <Newsletter posts={newsletters} />

  <h2>Những bài cũ hơn</h2>
  <PostList posts={sortedYears} />
</div>
