.nav {
  background-color: var(--surface-2);
}

.links {
  line-height: 0;
  display: flex;
  align-items: center;
  gap: var(--size-3);
  font-size: var(--font-size-1);
  font-weight: 600;
  padding-block: var(--size-3);
}

.details {
  cursor: pointer;
  position: relative;

  :is(summary) {
    user-select: none;
  }

  :is(summary)::-webkit-details-marker,
  :is(summary)::marker {
    content: '';
    display: none;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.extraLinks {
  position: absolute;
  position: absolute;
  background-color: var(--surface-0);
  padding: var(--size-3);
  top: 3ch;
  right: 0;
  display: grid;
  grid-template-columns: max-content;
  gap: var(--size-2);
  box-shadow: var(--shadow-4);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-2);
  z-index: 1;

  @media (--md) {
    left: 0;
    right: unset;
  }
}
