---
import IconExternalLink from './IconExternalLink.astro'

function isCurrentActive(path) {
  const p = Astro.url.pathname
  if (p !== '/' && path === '/') return false

  return p.includes(path)
}
---

<style>
  .nav {
    padding-top: 8px;
    padding-bottom: 8px;

    @media (--xl) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &-menu {
      position: relative;
      flex: 1;

      .icon-close {
        display: none;
      }

      &[open] .icon-open {
        display: none;
      }

      &[open] .icon-close {
        display: block;
      }

      &-icon {
        background-color: var(--gray-2);
        border-radius: var(--radius-2);

        &:hover {
          background-color: var(--gray-3);
        }
      }

      summary {
        font-weight: 500;
        user-select: none;
        cursor: pointer;
        padding: 8px;
        display: flex;
        justify-content: flex-end;

        @media (--md) {
          justify-content: flex-start;
        }

        @media (--lg) {
          padding-left: 16px;
          padding-right: 16px;
        }

        &::-webkit-details-marker,
        &::marker {
          content: '';
          display: none;
        }
      }
    }

    &-links {
      position: absolute;
      right: 0;
      background-color: #fff;
      padding: 16px;
      border-radius: 4px;
      box-shadow: var(--shadow-5);
      border: 1px solid var(--gray-2);
      display: flex;
      gap: 1em;
      flex-direction: column;
      z-index: var(--layer-important);

      @media (--md) {
        right: unset;
        left: 0;
      }

      @media (--md) {
        padding: 16px 16px;
      }
    }

    &-link {
      font-weight: 500;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.25em;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 2px solid transparent;

      @media (hover: hover) {
        &:hover {
          border-color: var(--gray-8);
        }
      }
    }
  }
</style>

<nav class="nav">
  <div class="container flex align-center gap-2">
    <a class={`nav-link ${isCurrentActive('/') ? 'nav-link--active' : ''}`} href="/" title="Ê-ku">Ehkoo</a>

    <details class="nav-menu">
      <summary>
        <div class="p-1 nav-menu-icon">
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon-open">
            <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line
              x1="3"
              y1="18"
              x2="21"
              y2="18"></line>
          </svg>

          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon-close">
            <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </summary>

      <div class="nav-links">
        <a class={`nav-link ${isCurrentActive('/gioi-thieu') ? 'nav-link--active' : ''}`} href="/gioi-thieu">
          Giới Thiệu
        </a>
        <a class={`nav-link ${isCurrentActive('/bai-viet') ? 'nav-link--active' : ''}`} href="/bai-viet">
          Tất Cả Bài Viết
        </a>
        <a class={`nav-link ${isCurrentActive('/chu-de') ? 'nav-link--active' : ''}`} href="/chu-de">Chủ Đề</a>

        <a href="https://github.com/ehkoo/web" target="_blank" rel="noreferrer nofollow" class="nav-link">
          <IconExternalLink /> Github
        </a>
        <a href="https://www.facebook.com/ehkoo.dev/" target="_blank" rel="noreferrer nofollow" class="nav-link">
          <IconExternalLink /> Fanpage
        </a>
        <a href="https://chat.webuild.community/" target="_blank" rel="noreferrer nofollow" class="nav-link">
          <IconExternalLink /> Chat
        </a>
        <a href="https://www.buymeacoffee.com/ehkoo" target="_blank" rel="noreferrer nofollow" class="nav-link">
          <IconExternalLink /> Buy me a bubble tea
        </a>
      </div>
    </details>
  </div>
</nav>
