---
import IconEhkoo from './IconEhkoo.astro'
import IconExternalLink from './IconExternalLink.astro'
---

<style>
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>

<nav>
  <ul class="list" role="list">
    <li>
      <a href="/" title="Ê-ku">
        <IconEhkoo />
      </a>
    </li>
  </ul>
</nav>
