@import url('../styles/_media.css');

.post {
  --code-background: #f9f5d7;
  --code-color: #9e0005;
  --code-font-size: 0.9em;

  display: grid;
  gap: 16px;

  @media (--lg) {
    grid-template-columns: 960px auto;
  }

  &-wrapper {
    background-color: var(--gray-0);
    overflow: hidden;
    padding: 16px;

    @media (--xl) {
      padding: 32px 64px;
    }
  }

  &-content {
    ul,
    ol {
      list-style-type: initial;
      padding-left: 32px;
    }

    .astro-code {
      padding: 8px;
      font-variant-ligatures: none;
      font-size: var(--code-font-size);
      margin-bottom: 16px;
    }

    iframe,
    li,
    p {
      margin-bottom: 16px;

      code {
        font-size: var(--code-font-size);
        padding: 2px;
        color: var(--code-color);
        background-color: var(--code-background);
        font-variant-ligatures: none;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 16px;
      margin-top: 16px;
    }

    blockquote {
      border-left: 8px solid var(--gray-3);
      background-color: var(--gray-2);
      padding: 16px;
      border-radius: 4px;
      margin-bottom: 16px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
