.article {
  display: grid;
  align-items: first baseline;
  gap: var(--size-2);
  grid-template: 1fr / 140px 1fr;
}

.year {
  background-color: var(--surface-2);
  font-weight: 900;
  position: sticky;
  top: 0;
  border-radius: var(--radius-2);
  color: var(--text-primary);
  padding: var(--size-2) var(--size-3);

  @media (--lg) {
    margin-inline: calc(var(--size-3) * -1);
  }
}

.title {
  font-weight: 400;
  font-size: var(--font-size-1);
  color: var(--text-secondary);
  grid-column: 1 / 3;

  @media (--md) {
    grid-row: 1;
    grid-column: 2;
  }
}

.date {
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 0.9em;
  grid-row: 2;
  grid-column: 2;
  justify-self: end;

  @media (--md) {
    justify-self: start;
    grid-row: 1;
    grid-column: 1;
  }
}

.author {
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 0.9em;
  grid-row: 2;

  @media (--md) {
    grid-column: 2;
  }
}
