.post {
  --sidebar-width: 256px;
  --code-background: var(--orange-1);
  --code-color: var(--orange-8);
  --code-font-size: 0.9em;

  &-wrapper {
    @media (--lg) {
      display: grid;
      gap: 48px;
      grid-template-columns: 700px var(--sidebar-width);
    }
  }

  &-nav {
    display: none;
    @media (--lg) {
      display: initial;
    }
  }

  &-meta {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid var(--gray-2);
  }

  &-content {
    ul,
    ol {
      list-style-type: initial;
      padding-left: 32px;
    }

    img {
      border-radius: 8px;
    }

    em {
      font-style: italic;
    }

    video,
    iframe {
      max-width: 100%;
      aspect-ratio: 16 / 9;
      margin: 1em auto;
    }

    .astro-code {
      padding: 16px;
      font-variant-ligatures: none;
      font-size: var(--code-font-size);
      margin-bottom: 16px;
      background-color: var(--gray-2) !important;
      border-radius: 4px;
    }

    p {
      @media (--lg) {
        line-height: 1.75;
      }
    }

    iframe,
    li,
    p {
      margin-bottom: 16px;
    }

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 16px;
      margin-top: 16px;
    }

    h1,
    h2 {
      font-weight: 900;
    }

    /* inline code */
    :not(pre):not(code) > code {
      font-size: var(--code-font-size);
      padding: 2px 4px;
      border-radius: 4px;
      color: var(--code-color);
      background-color: var(--code-background);
      font-variant-ligatures: none;
    }

    blockquote {
      background-color: #fff;
      border: 1px solid var(--gray-3);
      border-left: 8px solid var(--gray-7);
      padding: 16px;
      border-radius: 4px;
      margin-bottom: 16px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
