.post-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (--md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--xl) {
    padding-left: 0;
    padding-right: 0;
  }

  &-single {
    &-cover {
      height: 160px;
      width: 100%;
      object-fit: cover;
      border-radius: var(--radius-2);
    }

    &-title {
      font-weight: 600;
      text-decoration: none;
      color: var(--gray-7);
    }
  }
}
