.post {
  --sidebar-width: 16rem;
  --code-background: var(--orange-1);
  --code-color: var(--orange-8);
  --code-font-size: 0.9em;
  margin-block-start: var(--size-3);
}

.content ul > * + *,
.content ol > * + * {
  margin-block-start: 0.5em;
}

.content > * + * {
  margin-block-start: 1em;
}

.content * {
  scroll-margin-block-start: 3em;
}

.content {
  :is(ul, ol) {
    list-style-type: initial;
  }

  :is(img) {
    border-radius: var(--radius-2);
  }

  :is(em) {
    font-style: italic;
  }

  :is(video, iframe) {
    max-width: 100%;
    margin: var(--size-3) auto;
  }

  :is(h1, h2) {
    font-weight: 700;
  }

  /* inline code */
  :not(pre):not(code) > code {
    font-size: var(--code-font-size);
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--code-color);
    background-color: var(--code-background);
    font-variant-ligatures: none;
    word-break: break-word;
  }

  :is(blockquote) {
    background-color: #fff;
    border: 1px solid var(--gray-3);
    border-left: 8px solid var(--gray-7);
    padding: 16px;
    border-radius: 4px;
  }

  :is(table) {
    width: 100%;
  }

  :is(table, th) {
    border-collapse: collapse;
    border: 1px solid var(--gray-5);
  }

  :is(thead) {
    background-color: var(--gray-4);
  }

  :is(th, td) {
    padding: var(--size-1) var(--size-2);
  }

  :is(td) {
    border-left: 1px solid var(--gray-4);
  }

  :is(tr):nth-child(2n) td {
    background-color: var(--gray-2);
  }

  :is(pre) {
    padding: 1rem;
    font-variant-ligatures: none;
    font-size: var(--code-font-size);
    background-color: var(--gray-2) !important;
    border-radius: 4px;
  }
}
