.meta {
  font-size: 0.9em;
  background-color: var(--surface-2);
  display: grid;
  gap: var(--size-3);
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  justify-content: flex-end;
  padding: var(--size-3);
  border-radius: var(--radius-2);
}
