.posts-of-tag {
  padding: var(--size-3);
  background-color: #fff;
  border-radius: var(--radius-2);
}

.posts-of-tag-title {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: var(--layer-5);
}

.posts-of-tag-link {
  text-decoration: none;
}
