---
const { posts, tag } = Astro.props
---

<style>
  .posts {
    padding: var(--size-3);
    background-color: #fff;
    border-radius: var(--radius-2);
  }

  .title {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: var(--layer-5);
  }

  .link {
    text-decoration: none;
  }

  .date {
    color: var(--gray-6);
    font-size: 0.95em;
  }
</style>
<div class="posts">
  <h2 class="title mb-4">{tag} ({posts.length})</h2>

  <ul class="flex flex-column gap-2">
    {
      posts.map((post) => (
        <li class="flex flex-column flex-row-md space-between align-center-md">
          <a href={post.url} class="link">
            {post.frontmatter.title}
          </a>

          <span class="date">{new Intl.DateTimeFormat('vi-VN').format(new Date(post.frontmatter.date))}</span>
        </li>
      ))
    }
  </ul>
</div>
