---
import { slugify } from '../lib/posts.js'

const links = Astro.props.tags.split(/,\s+/).map(t => {
    const tag = slugify(t)
    return { label: t, href: `/chu-de/${tag}`}
})
---
<style>
li {
    &::after {
        content: ", ";
    }
    &:last-child::after {
       content: "";
    }
}
</style>
<ul class="flex gap-2">
    {links.map(link => <li><a href={link.href}>#{link.label}</a></li>)}
</ul>
