---
import { slugify } from '../lib.js'

const links = Astro.props.tags.split(/,\s+/).map((t) => {
  const tag = slugify(t)
  return { label: t, href: `/chu-de/${tag}` }
})
---

<style>
  ul {
    list-style-type: none;
    display: flex;
    gap: 1ch;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    line-height: 1;
  }

  li:not(:last-child) a::after {
    content: ', ';
  }
</style>
<ul>
  {
    links.map((link) => (
      <li>
        <a href={link.href}>#{link.label}</a>
      </li>
    ))
  }
</ul>
