.article {
  display: grid;
  grid-template-columns: 140px auto;
  gap: var(--size-2);
  align-items: center;
}

.cover {
  border-radius: var(--radius-2);
}

.meta {
  font-size: 0.9em;
  color: var(--text-secondary);
  font-weight: 300;
}
