{% extends "index.njk" %}

{% block content %}
<main class="container mx-auto mb-4">
  <h1 class="text-3xl my-4 text-pink-600 font-700">
    404 &ndash; Đường dẫn không tồn tại
  </h1>
  <p class="mb-3 leading-double">Bạn vui lòng kiểm tra lại URL hoặc quay lại <a class="text-pink-600" href="/">trang chủ Ehkoo</a>.</p>
</main>
{% endblock %}
