{% extends "index.njk" %}

{% block content %}
<div class="mt4 ph3">
  <h1 class="f1 fw7 silver">404 &ndash; Đường dẫn không tồn tại</h1>
  <p class="lh-copy f4">Bạn vui lòng kiểm tra lại URL hoặc quay lại <a href="/">trang chủ Ehkoo</a>.</p>
</div>
{% endblock %}
