{% extends "layouts/index.njk" %}

{% block head %}
{% include "layouts/el/opengraph.njk" %}
{% endblock %}

{% block content %}
<div class="flex flex-column flex-row-l pa3">
  <div class="w-75-l pr3-ns">

  {% for post in lastPosts %}
    {% if post.type === 'quote' %}
    <div class="bg-light-gray mb3 box-shadow-1">
      <div class="flex items-center">
        <div class="w-30 w-50-l">
          <div class="bg-center cover h5" style="background-image: url({{ post.cover }})"></div>
        </div>
        <div class="w-70 w-50-l">
          <blockquote class="ph3 fw3 f4 f3-ns i mid-gray serif quote">
            {{ post.contents | safe }}
            <p class="lh-copy">&ndash; {{ post.author }}</p>
          </blockquote>
        </div>
      </div>
    </div>
    {% elif loop.index0 === 0 %}
    <div class="bg-white mb4 box-shadow-1">
      <div class="flex flex-column">
        <div class="w-100-ns h5-ns">
          <div class="bg-center cover h-100" style="background-image: url({{ post.cover }})"></div>
        </div>
        <div class="pa3">
          <h2 class="mv3 f3 ttu tracked fw7"><a href="/{{ post.path }}" class="red">{{ post.title }}</a></h2>
          <p class="mv2 gray f6 i">
            {{ post.date }} &mdash; {{ post.wordCount }} từ &mdash; {{ post.readingTime }}
          </p>
          <div class="h4 clip-ns">
            <div class="bg-center cover h-100" style="background-image: url({{ post.cover }})"></div>
          </div>
          <p class="mv3 lh-copy gray f5 f4-ns">{{ post.excerpt }}</p>
          {% if post.tags %}
            {% set postTags = post.tags | slice(3) | first if post.tags.length > 3 else post.tags %}
            <ul class="list">
            {% for tag in postTags %}
              <li class="dib"><a href="/chu-de/{{ tag.slug }}" class="mb1 ph2 pv1 db br2 bg-lightest-blue blue">{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="bg-white mv3 box-shadow-1">
      <div class="flex flex-column flex-row-ns">
        <div class="w-75-l pa3">
          <h2 class="mv3 f4 fw7"><a href="/{{ post.path }}" class="red">{{ post.title }}</a></h2>
          <p class="mv2 gray f6 i">
            {{ post.date }} &mdash; {{ post.wordCount }} từ &mdash; {{ post.readingTime }}
          </p>
          <div class="h4 clip-ns">
            <div class="bg-center cover h-100" style="background-image: url({{ post.cover }})"></div>
          </div>
          <p class="mv3 lh-copy gray f5">{{ post.excerpt }}</p>
        {% if post.tags %}
          {% set postTags = post.tags | slice(3) | first if post.tags.length > 3 else post.tags %}
          <ul class="list">
          {% for tag in postTags %}
            <li class="dib"><a href="/chu-de/{{ tag.slug }}" class="mb1 ph2 pv1 db br2 bg-lightest-blue blue">{{ tag.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="w-25-l clip-m">
          <div class="bg-center cover h-100" style="background-image: url({{ post.cover }})"></div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  </div>

  {% include "layouts/el/sidebar.njk" %}
</div>
{% endblock %}
