{% extends "layouts/index.njk" %}

{% block content %}
<div class="flex flex-column flex-row-ns pa3">
  <div class="w-70-m w-60-l pr3-ns">

    <div class="bg-white mb3">
      <div class="flex">
        <div class="w-80-ns pa3">
          <div class="flex items-center justify-between">
            <ul class="list">
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">JavaScript</a></li>
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">Serverless</a></li>
            </ul>
            <span class="gray f6">
              17/10/2017 &bull; 2018 words
            </span>
          </div>
          <a href="#" class="navy"><h1 class="mv3 f3 fw7">Viết lamda function dễ dàng hơn với serverless-webpack</h1></a>
          <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
        </div>
        <div class="w-20-ns">
          <div class="bg-center cover h-100" style="background-image: url(https://i.imgur.com/J0MSG2U.png)"></div>
        </div>
      </div>
    </div>

    <div class="bg-white mb3">
      <div class="flex">
        <div class="w-80-ns pa3">
          <div class="flex items-center justify-between">
            <ul class="list">
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">JavaScript</a></li>
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">Front-end</a></li>
            </ul>
            <span class="gray f6">
              17/10/2017 &bull; 2018 words
            </span>
          </div>
          <a href="#" class="navy"><h1 class="mv3 f3 fw7">Làm quen với MithrilJS -Phần 1</h1></a>
          <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
        </div>
        <div class="w-20-ns">
          <div class="bg-center cover h-100" style="background-image: url(https://i.imgur.com/3xHPfiA.jpg)"></div>
        </div>
      </div>
    </div>

    <div class="bg-white mb3">
      <div class="flex">
        <div class="w-80-ns pa3">
          <div class="flex items-center justify-between">
            <ul class="list">
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">PHP</a></li>
            </ul>
            <span class="gray f6">
              17/10/2017 &bull; 2018 words
            </span>
          </div>
          <a href="#" class="navy"><h1 class="mv3 f3 fw7">Những tính năng mới trong PHP 7</h1></a>
          <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
        </div>
        <div class="w-20-ns">
          <div class="bg-center cover h-100" style="background-image: url(https://cdn-images-1.medium.com/max/1920/1*iWS1FXC2s98r37HTQRayFw.png)"></div>
        </div>
      </div>
    </div>

    <div class="bg-light-gray mb3">
      <div class="flex items-center">
        <div class="w-50">
          <div class="bg-center cover h5" style="background-image: url(http://americanhistory.si.edu/sites/default/files/exhibitions/cobol_b_1.jpg)"></div>
        </div>
        <div class="w-50">
          <blockquote class="ph3 fw3 f4 f3-ns i mid-gray serif">
            “No computer is ever going to ask a new, reasonable question. It takes trained people to do that” &ndash; Grace Hopper
          </blockquote>
        </div>
      </div>
    </div>

    <div class="bg-white mb3">
      <div class="flex">
        <div class="w-80-ns pa3">
          <div class="flex items-center justify-between">
            <ul class="list">
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">JavaScript</a></li>
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">Serverless</a></li>
            </ul>
            <span class="gray f6">
              17/10/2017 &bull; 2018 words
            </span>
          </div>
          <a href="#" class="navy"><h1 class="mv3 f3 fw7">Viết lamda function dễ dàng hơn với serverless-webpack</h1></a>
          <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
        </div>
        <div class="w-20-ns">
          <div class="bg-center cover h-100" style="background-image: url(http://unsplash.it/300/400)"></div>
        </div>
      </div>
    </div>


    <div class="bg-white mb3">
      <div class="pa3">
        <div class="flex items-center justify-between">
          <ul class="list">
            <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">PHP</a></li>
          </ul>
          <span class="gray f6">
            17/10/2017 &bull; 2018 words
          </span>
        </div>
        <a href="#" class="navy"><h1 class="mv3 f3 fw7">Những tính năng mới trong PHP 7</h1></a>
        <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
      </div>
    </div>


    <div class="bg-white mb3">
      <div class="flex">
        <div class="w-80-ns pa3">
          <div class="flex items-center justify-between">
            <ul class="list">
              <li class="dib"><a href="#" class="ph2 pv1 db br2 bg-lightest-blue blue">PHP</a></li>
            </ul>
          </div>
          <a href="#" class="navy"><h1 class="mv3 f3 fw7">Những tính năng mới trong PHP 7</h1></a>
          <p class="mv2 lh-copy silver f4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo quam, quasi similique! Magni quia aliquid, provident tenetur corrupti veritatis ut et error natus, veniam at iste. Magni, perferendis, similique.</p>
        </div>
        <div class="w-20-ns">
          <div class="bg-center cover h-100" style="background-image: url(http://unsplash.it/350/400)"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="w-30-m w-40-l">
    <div class="flex flex-column flex-row-ns">
      <div class="w-50-l mr3-ns">
        <section class="br1 bg-white pa3 mb3">
          <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Tin siêu ngắn</h1>
          <ul class="list last-child-no-border">
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db lh-copy">
                <span class="lh-copy dark-gray fw6">airbnb/enzyme ra bản 3.1.0</span>               
                <span class="mid-gray truncate f6">Sửa một số lỗi liên quan tới React 16</span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db lh-copy">
                <span class="lh-copy dark-gray fw6">mochajs/mocha ra bản 4.0.0</span>               
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db lh-copy">
                <span class="lh-copy dark-gray fw6">Firebase hào hứng giới thiệu CloudFirestore, một động cơ NoSQL mới.</span>               
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db lh-copy">
                <span class="lh-copy dark-gray fw6">Firebase hào hứng giới thiệu CloudFirestore, một động cơ NoSQL mới.</span>               
              </a>
            </li>
          </ul>
        </section>

        <section class="br1 bg-white pa3 mb3">
          <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Lụm lặt</h1>
          <ul class="list last-child-no-border">
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">[en] util.promisify trong node8 quá ngon đi</span>
                <span class="ml1 gray f6">(hackernoon.com)</span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">Algorithm in Frontend - Kỳ 1: Xử lý dữ liệu trên Frontend</span>
                <span class="ml1 gray f6">(thefullsnack.com)</span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">Chuyện bản quyền bài viết</span>
                <span class="ml1 gray f6">(codeaholicguy.com)</span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">[en] Tui chia tay với Higher Order Component đây</span>
                <span class="ml1 gray f6">(medium.com)</span>
              </a>
            </li>
          </ul>
        </section>

        <section class="br1 bg-white pa3 mb3">
          <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Đồ chơi mới</h1>
          <ul class="list last-child-no-border">
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">tipsy/bubbly-bg</span>
                <span class="db gray f6 lh-copy">Beautiful bubbly backgrounds in less than 1kB (662 bytes gzipped)</span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">dollarshaveclub/stickybits </span>
                <span class="db gray f6 lh-copy">Stickybits is a lightweight alternative to <code>position: sticky</code> polyfills 🍬 </span>
              </a>
            </li>
            <li class="bb b--light-gray pb3 mv2">
              <a href="#" class="db">
                <span class="lh-copy fw6 dark-gray">nzambello/ellipsed </span>
                <span class="db gray f6 lh-copy">A JavaScript library for multilined ellipsis </span>
              </a>
            </li>
          </ul>
        </section>
      </div>

      <div class="w-50-l">
        <section class="br1 bg-white pa3 mb3">
          <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Đăng ký bản tin</h1>
          <p class="lh-copy f6 mv3">Quá lười để vào ehkoo mỗi ngày? Không sao hết, hãy điền email bạn vào đây. Mỗi tuần 5 bài viết được nhiều người xem nhất sẽ được gửi đến bạn.</p>
          <form action="#">
            <input type="email" placeholder="banh.beo@local.dev" class="w-100 br1 pa2 b--light-gray ba f6">
          </form>
          <p class="lh-copy f6 mv3">Đảm bảo chất lượng, hứa không bao giờ spam.</p>
        </section>

        <section class="br1 bg-white pa3 mb3">
          <h1 class="mb4 mt2 fw7 code tracked ttu blue pb2 f4 bw1 bb b--blue">Theo dõi</h1>
          <ul class="tc list mv3">
            <li class="w2 dib mh2"><a href=""><svg aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path fill="#3b5998" d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg></a></li>
            <li class="w2 dib mh2"><a href=""><svg aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-github-icon">GitHub icon</title><path fill="#333" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg></a></li>
            <li class="w2 dib mh2"><a href=""><svg aria-labelledby="simpleicons-twitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-twitter-icon">Twitter icon</title><path fill="#55acee" d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg></a></li>
            <li class="w2 dib mh2"><a href=""><svg aria-labelledby="simpleicons-gitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-gitter-icon">Gitter icon</title><path fill="#FF0064" d="M8.501 4.001H10.5V24H8.501V4.001zm6.999 0V24h-2V4.001h2zM3.5 0h2.001v15H3.5V0zm15 4.001h2V15h-2V4.001z"/></svg></a></li>
          </ul>

          <a href="#" class="silver f6">Xem: Tại sao mỗi lập trình viên nên có tài khoản Twitter?</a>
        </section>

        <section class="br1 bg-navy pa3 mb3 h5 flex items-center">
          <a href="#" class="white">
            <h1 class="mv2 fw7 f2 tc ttu tracked">Tuyển dụng</h1>
            <h2 class="mv2 f5 tc lh-copy code">Ehkoo đang cần tìm chuyên gia viết Markdown. Click để xem chi tiết.</h2>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
