<!DOCTYPE html>
<html>
<head>
  {% include "layouts/el/head.njk" %}
  {% block head %}{% endblock %}
  <title>{{ title }} &ndash; {{ siteName }}</title>
</head>
<body class="bg-near-white dark-gray">
  <header class="bb b--light-gray bg-white" id="js-top">
    <div class="mw8 center flex items-center ph3">
      <a href="/" class="ma1 mw3"><img src="/img/logo-48.png" alt="Ehkoo" class="br1"></a>
      <ul class="list f6">
        <li class="dib mh3"><a href="/gioi-thieu" class="near-black fw3 ttu f5">Giới Thiệu</a></li>
        <li class="dib mh3"><a href="/cong-tac" class="near-black fw3 ttu f5">Cộng tác</a></li>
      </ul>
    </div>
  </header>
  <main class="mw8 center">
    {% block content %}{% endblock %}
  </main>

  <footer class="mw8 mt5 mb3 f6 gray center ph3">
    <p class="lh-copy">&copy; 2017 Ehkoo. Tác giả giữ bản quyền.</p>
    <p class="lh-copy">Ghi rõ nguồn "ehkoo.com" khi phát hành lại nội dung từ website này. Không sử dụng cho mục đích thương mại khi chưa có sự đồng ý chính thức.</p>
    <div>Icons made by <a rel="noopener noreferrer" target="_blank" href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a rel="noopener noreferrer" target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" rel="noopener noreferrer" target="_blank">CC 3.0 BY</a></div>
  </footer>

  {% block bottom %}{% endblock %}
  {% include "layouts/el/bottom.njk" %}
  {% include "layouts/el/analytics.njk" %}
</body>
</html>
