<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>{{ title }} &ndash; {{ siteName }}</title>
    {% include "el/head.njk" %}
    {% block head %}{% endblock %}
  </head>

  <body class="font-be text-gray-800">
    <header id="header" class="mb-8 sticky top-0 xl:relative">
      <div class="bg-gray-200">
        <div class="h-24 container mx-auto flex items-center px-2">
          <a href="/" class="w-16 mr-4">
            <img src="/assets/logo-dark.svg" alt="Ehkoo" class="w-full" />
          </a>
          <ul class="flex">
            <li>
              <a class="mr-4 text-sm uppercase tracking-widest" href="/gioi-thieu">Giới thiệu</a>
            </li>
            <li>
              <a class="mr-4 text-sm uppercase tracking-widest" href="/cong-tac">Cộng tác</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-gray-300">
        <div class="container mx-auto px-2">
          <ul class="hidden xl:flex xl:flex-row text-sm uppercase tracking-widest">
            <li><a class="p-4 block mr-3" href="/chu-de/javascript">JavaScript</a></li>
            <li><a class="p-4 block mr-3" href="/chu-de/react">React</a></li>
            <li><a class="p-4 block mr-3" href="/chu-de/vue">Vue</a></li>
            <li><a class="p-4 block mr-3" href="/chu-de/css">CSS</a></li>
            <li><a class="p-4 block mr-3" href="/chu-de/thu-thuat">Thủ thuật</a></li>
            <li><a class="p-4 block mr-3" href="/chu-de/danh-cho-nguoi-moi">Lính mới tò te</a></li>
          </ul>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="p-2 text-sm text-gray-500 container mx-auto">
      <p>&copy; 2017 Ehkoo. Tác giả giữ bản quyền.</p>
      <p>
        Ghi rõ nguồn "ehkoo.com" khi phát hành lại nội dung từ website này. Không sử dụng cho mục đích thương mại khi
        chưa có sự đồng ý chính thức.
      </p>
      <p>
        Icons made by Gregor Cresnar from www.flaticon.com is licensed by CC 3.0 BY.
      </p>
    </footer>
    {% block bottom %}{% endblock %}
    {% include "el/bottom.njk" %}
  </body>
</html>
