<!DOCTYPE html>
<html>
<head>
  {% include "layouts/el/head.njk" %}
  {% block head %}{% endblock %}
  <title>{{ title }} &ndash; {{ siteName }}</title>
</head>
<body class="bg-near-white dark-gray">
  <header class="bb b--light-gray bg-white">
    <div class="mw8 mw9-l center flex items-center ph3">
      <a href="/" class="pa2 mw3"><img src="/img/logo-100.png" alt="Ehkoo" class="br1"></a>
      <ul class="list f6">
        <li class="dib mh3"><a href="/gioi-thieu" class="near-black fw3 ttu f5">Giới Thiệu</a></li>
        <li class="dib mh3"><a href="/cong-tac" class="near-black fw3 ttu f5">Cộng tác</a></li>
      </ul>
    </div>
  </header>
  <main class="mw8 mw9-l center">
    {% block content %}{% endblock %}
  </main>

  <footer class="mw8 mw9-l mt5 mb3 f6 gray center ph3">
    <p class="lh-copy">&copy; 2017 Ehkoo. Tác giả giữ bản quyền.</p>
    <p class="lh-copy">Ghi rõ nguồn "ehkoo.com" khi phát hành lại nội dung từ website này. Không sử dụng cho mục đích thương mại khi chưa có sự đồng ý chính thức.</p>
  </footer>

  {% block bottom %}{% endblock %}
  {% include "layouts/el/bottom.njk" %}
  {% include "layouts/el/analytics.njk" %}
</body>
</html>
