{% extends "index.njk" %}

{% block head %}
{% include "el/opengraph.njk" %}
{% endblock %}

{% block content %}
<main class="container flex flex-col xl:flex-row mx-auto mb-4">
  <aside class="xl:w-1/5"></aside>

  <div class="xl:w-3/5">
    <article id="post" class="px-3">
      <header class="mb-4">
        <h1 class="text-3xl my-4 text-pink-600 font-700">
          {{ title }}
        </h1>
      </header>

      {{ contents | safe }}

    </article>
  </div>

  <div class="xl:w-1/5">
    <div class="sticky top-1 right-0">
      <div class="hidden xl:flex xl:mt-8 items-center justify-center">
        <a
          href="#header"
          class="flex flex-col items-center border border-yellow-700 text-yellow-700 py-1 px-3 rounded-md"
        >
          <i class="w-2">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-up"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z"
              />
            </svg>
          </i>
          <span class="text-sm uppercase">Đầu trang</span>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
