
{% extends "index.njk" %}

{% block head %}
  {% include "el/opengraph.njk" %}
  <link rel="stylesheet" href="/assets/prism.css" />
  <link rel="stylesheet" href="/assets/post.css" />
{% endblock %}

{% block bottom %}
  <script src="/assets/prism.js"></script>
{% endblock %}

{% block content %}
<main class="container flex flex-col xl:flex-row mx-auto mb-8">
  <aside class="xl:w-1/5">
    <div class="sticky top-1 right-0">
      <nav class="hidden xl:block xl:mt-24 pl-2 pr-4">
        <a
          id="js-toggle-toc"
          href="#"
          class="mb-2 text-xs text-gray-500 font-700 tracking-widest uppercase flex items-center"
        >
          Mục lục
          <i data-icon="up" class="w-2 ml-auto">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-up"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z"
              />
            </svg>
          </i>
          <i data-icon="down" class="w-2 ml-auto hidden">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-down"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
              />
            </svg>
          </i>
        </a>

        <ul class="text-sm" id="js-toc">
          {% for h in headings %}
          <li>
            <a href="#{{ h.id }}" class="block mb-2 text-gray-600">
              {{ h.text }}
            </a>

            <ul class="ml-2">
            {% for s in h.submenu %}
              <li>
                <a href="#{{ s.id }}" class="block mb-2 text-gray-600">
                  {{ s.text }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="xl:hidden">
      <nav
        id="js-mobile-nav"
        class="bg-white fixed top-0 left-0 right-0 bottom-0 px-2 pt-4 hidden"
      >
        <h2
          class="mb-2 text-xs text-gray-500 font-700 tracking-widest uppercase"
        >
          Mục lục
        </h2>

        <ul class="text-sm">
        {% for h in headings %}
          <li>
            <a href="#{{ h.id }}" class="block mb-2 text-gray-600">
              {{ h.text }}
            </a>

            <ul class="ml-2">
            {% for s in h.submenu %}
              <li>
                <a href="#{{ s.id }}" class="block mb-2 text-gray-600">
                  {{ s.text }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="fixed bottom-1 left-1">
        <a
          id="js-toggle-mobile-nav"
          href="#"
          class="w-16 h-16 text-white bg-yellow-700 border border-yellow-700 rounded-full flex items-center justify-center"
        >
          <i data-icon="up" class="w-2">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-up"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z"
              />
            </svg>
          </i>
          <i data-icon="down" class="w-2 hidden">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-down"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
              />
            </svg>
          </i>
        </a>
      </div>
    </div>
  </aside>

  <div class="xl:w-3/5">
    <article id="post" class="px-3">
      <header class="mb-4">
        <h1 class="text-3xl my-4 text-pink-600 font-700">
          {{ title }}
        </h1>
        <ul
          class="flex flex-col md:flex-row md:justify-between mb-3 text-gray-600 text-sm"
        >
          <li>
          {% if author %}
            <a class="underline" href="https://github.com/{{ author }}" target="_blank" rel="noopener noreferrer">@{{ author }}</a>
          {% endif %} đăng ngày {{ date }}
          </li>
          <li>Dài {{ wordCount }} từ &mdash; Đọc trong {{ readingTime }}</li>
        </ul>

        {% if tags %}
        <div class="flex flex-col md:flex-row text-sm">
          <p class="text-gray-500 mr-1 mb-1">Tags:</p>
          <ul class="flex flex-wrap">
            {% for tag in tags %}
            <li class="mr-1 mb-2">
              <a
                href="/chu-de/{{ tag.slug }}"
                class="text-blue-700 bg-blue-100 px-1 py-half rounded-md">
                #{{ tag.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </header>

      {{ contents | safe }}

    </article>

    {% if form_footer %}
      {% include "forms/" + form_footer + ".njk" %}
    {% else %}
      {% include "forms/newsletter-footer.njk" %}
    {% endif %}
  </div>

  <div class="xl:w-1/5">
    <div class="sticky top-1 right-0">
      <div class="hidden xl:flex xl:mt-8 items-center justify-center">
        <a
          href="#header"
          class="flex flex-col items-center border border-yellow-700 text-yellow-700 py-4 px-6 rounded-md"
        >
          <i class="w-2">
            <svg
              aria-hidden="true"
              data-prefix="fal"
              data-icon="chevron-up"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M4.465 366.475l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L224 178.053l195.494 195.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.051c-4.686-4.686-12.284-4.686-16.971 0L4.465 349.505c-4.687 4.686-4.687 12.284 0 16.97z"
              />
            </svg>
          </i>
          <span class="text-sm uppercase">Đầu trang</span>
        </a>
      </div>
    </div>
  </div>
</main>

{% set relatedPosts = related %}
{% include "el/widgets/related.njk"  %}

<div class="container flex flex-col xl:flex-row mx-auto mb-4">
  <script src="https://utteranc.es/client.js"
    repo="ehkoo/web"
    issue-term="pathname"
    label="web-comments"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</div>
{% endblock %}
