{% extends "layouts/index.njk" %}

{% block head %}
{% include "layouts/el/opengraph.njk" %}
<link rel="stylesheet" href="/assets/zoom-image/zoom-image.css">
{% endblock %}

{% block bottom %}
<script src="/assets/zoom-image/zoom-image.min.js"></script>
{% endblock %}

{% block content %}
<div class="flex flex-column flex-row-l pa3">
  <div class="w-75-l pr3-ns">
    <article class="bg-white pa3 relative box-shadow-1">
      <h1 class="red fw7 f3 mb4 tracked ttu">{{ title }}</h1>
      <p class="lh-copy mb3 tr silver">
        {{ date }}
        {% if author %}
        &mdash; <a href="https://github.com/{{ author }}" target="_blank">@{{ author }}</a>
        {% endif %}

         &mdash; {{ wordCount }} từ &mdash; Đọc trong {{ readingTime }}
      </p>

    {% if translation %}
      <p class="mb3 lh-copy i f4 mid-gray">Bài viết được dịch từ <a href="{{ translation }}" target="_blank" rel="nofollow">{{ translation }}</a></p>
    {% endif %}

      <div id="js-content" class="content lh-copy dark-gray f5 f4-ns">{{ contents | safe }}</div>

      <hr class="mv4 mw5 center db bg-silver">

      {% include "layouts/el/widgets/fb.njk" %}

      {% if tags %}
      <div class="lh-copy mt3 flex items-center">
        <span class="silver mr3">Tags:</span>
        <ul class="list">
        {% for tag in tags %}
          <li class="dib mr1"><a href="/chu-de/{{ tag.slug }}" class="ph2 pv1 db br2 bg-lightest-blue blue">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="lh-copy mt3">
        <div class="sharethis-inline-share-buttons"></div>
      </div>

      <div class="clip-l fixed bottom-2 right-2 shadow-1 z-2">
        {% include "layouts/el/jump-top.njk" %}
      </div>
    </article>

    <div class="mv3">
      {% set relatedPosts = related %}
      {% include "layouts/el/widgets/related.njk" %}
    </div>

    <div class="mt4">{% include "layouts/el/widgets/comments.njk" %}</div>
  </div>

  {% include "layouts/el/sidebar.njk" %}
</div>
{% endblock %}
