{% extends "index.njk" %}

{% block head %}
{% include "el/opengraph.njk" %}
<link rel="stylesheet" href="//cdn.rawgit.com/kcjpop/zoom-image/2fa0895c/css/zoom-image.css">
{% endblock %}

{% block bottom %}
<script src="//cdn.rawgit.com/kcjpop/zoom-image/43e7f849/js/zoom-image.min.js"></script>
{% endblock %}

{% block content %}
<div class="flex flex-column flex-row-ns pa3">
  <div class="w-30-ns">
    <div class="top-1 sticky">
      <h1 class="f2 fw6 navy "><a href="{{ toc.url }}">{{ toc.name }}</a></h1>
    {% for section in toc.sections %}
      <h2 class="fw6 f4 dark-red">{{ section.section }}</h2>
      <ul class="ml4-ns list">
      {% for item in section.children %}
        <li><a class="f4 db mv3 {% if item.slug === slug %} blue fw7 {% else %} mid-gray {% endif %}" href="{{ item.url }}">{{ item.name | safe }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </div>
  </div>

  <div class="w-70-m w-60-l pr3-ns">
    <article class="bg-white pv3 ph4">
      <h1 class="blue f2 mb4 fw3">{{ title }}</h1>
      <p class="lh-copy mb3 tr silver">
        {{ date }}
        {% if author %}
        &mdash; <a href="https://github.com/{{ author }}" target="_blank">@{{ author }}</a>
        {% endif %}

         &mdash; {{ wordCount }} từ &mdash; Đọc trong {{ readingTime }}
      </p>

    {% if translation %}
      <p class="lh-copy i f4 mid-gray">Bài viết được dịch từ <a href="{{ translation }}" target="_blank" rel="nofollow">{{ translation }}</a></p>
    {% endif %}

      <div id="js-content" class="content lh-copy dark-gray f4">{{ contents | safe }}</div>

      <hr class="mw3 center db bg-silver">
    </article>

    <section class="flex">
      <div class="pa3 f3 fw6 w-50">
        {% if prevArticle %}
          <span class="silver">Bài trước: </span><a class="dark-green" href="{{ prevArticle.url }}">{{ prevArticle.name }}</a>
        {% endif %}
      </div>
      <div class="pa3 f3 fw6 w-50 tr">
        {% if nextArticle %}
          <span class="silver">Bài sau: </span> <a class="dark-green" href="{{ nextArticle.url }}">{{ nextArticle.name }}</a>
        {% endif %}
      </div>
    </section>

    <div class="mt4">{% include "el/widgets/comments.njk" %}</div>
  </div>
</div>
{% endblock %}
