.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--surface-0);
  font-weight: 600;
  padding-block: var(--size-3);
}

.topLink {
  display: inline-flex;
  align-items: center;
}
