.article {
  display: grid;
  align-items: center;
  gap: var(--size-2);

  @media (--md) {
    grid-template: 1fr / 140px 1fr;
  }
}

.groupName {
  background-color: var(--surface-2);
  font-weight: 700;
  position: sticky;
  top: 0;
  border-radius: var(--radius-2);
  color: var(--text-primary);
  padding: var(--size-2) var(--size-3);
  text-transform: capitalize;

  @media (--lg) {
    margin-inline: calc(var(--size-3) * -1);
  }
}

.title {
  font-weight: 400;
  font-size: var(--font-size-1);
  color: var(--text-secondary);
}

.cover {
  display: none;

  @media (--md) {
    display: initial;
    border-radius: var(--radius-2);
    border: 1px solid var(--surface-1);
  }
}

.meta {
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 0.9em;
}
