.details {
  cursor: pointer;
  position: relative;

  :is(summary) {
    user-select: none;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }

  :is(summary)::-webkit-details-marker,
  :is(summary)::marker {
    content: '';
    display: none;
  }
}

.toc {
  position: absolute;
  right: 0;
  display: grid;
  grid-template-columns: max-content;
  background-color: var(--surface-0);
  box-shadow: var(--shadow-4);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  list-style-type: none;
}

.toc ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.toc ul li {
  padding-left: var(--size-3);
  /* border-left: 2px solid var(--gray-8); */
}
