---
const { headers = [] } = Astro.props

const toc = headers.reduce((acc, current) => {
  if (acc.length === 0) return [{ ...current, children: [] }]

  const last = acc[acc.length - 1]
  if (current.depth > last.depth) last.children.push(current)
  else acc.push({ ...current, children: [] })

  return acc
}, [])
---

<style>
  .details {
    cursor: pointer;
    position: relative;

    :global(summary) {
      user-select: none;
      display: inline-flex;
      align-items: center;
      gap: 1ch;
    }

    :global(summary)::-webkit-details-marker,
    :global(summary)::marker {
      content: '';
      display: none;
    }
  }

  .toc {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: max-content;
    background-color: var(--surface-0);
    box-shadow: var(--shadow-4);
    border: 1px solid var(--gray-2);
    border-radius: var(--radius-2);
    padding: var(--size-3);
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    list-style-type: none;
  }

  .toc ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
  }

  .toc ul li {
    padding-left: var(--size-3);
  }
</style>

<details class="details">
  <summary>Mục lục <img src="/icons/list.svg" alt="" /></summary>

  <ul class="toc flow" style="--flow-space: var(--size-2);">
    {
      toc.map((one) => (
        <li class="flow">
          <a class="no-underline-link" href={`#${one.slug}`}>
            {one.text}
          </a>
          {one.children.length > 0 && (
            <ul class="flow">
              {one.children.map((two) => (
                <li>
                  <a class="no-underline-link" href={`#${two.slug}`}>
                    {two.text}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</details>
