---
import 'open-props'

import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/utils.css'
import '../styles/main.css'

import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const { title, content } = Astro.props
---

<html lang="vi">
  <head>
    <Header {content} {title} />
  </head>

  <body class="flow" style="--flow-space: 1.5em;">
    <Nav />

    <main class="container" style="--flow-space: 1em;">
      <slot />
    </main>

    <footer class="container">
      <Footer />
    </footer>

    <script type="text/javascript">
      /* prettier-ignore */
      window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
      heap.load('4035360461')
    </script>

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "c0a29b8f08ab479fb93bbe25ef7d71b6"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
