---
import 'open-props'

import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/utils.css'
import '../styles/main.css'

import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const { title, content } = Astro.props
---

<html lang="vi">
  <head>
    <Header {content} {title} />
  </head>

  <body class="flow" style="--flow-space: 1.5em;">
    <header>
      <Nav />
    </header>

    <main class="container" style="--flow-space: 1em;">
      <slot />
    </main>

    <footer class="container">
      <Footer />
    </footer>

    <!-- Cloudflare Web Analytics -->
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token":"c0a29b8f08ab479fb93bbe25ef7d71b6"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
