---
import 'open-props'

import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/main.css'

import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Sidebar from '@/components/Sidebar.astro'

const { title, content } = Astro.props
---

<html lang="vi">
  <head>
    <Header {content} {title} />
    <style>
      .wrapper {
        padding: var(--size-2);
        display: grid;
        gap: var(--size-5);
        grid-template-columns: 20ch 1fr;
        gap: 2ch;

        @media (width > 60rem) {
          grid-template-columns: 20ch 70ch;
        }
      }

      .header {
        @media (width > 60rem) {
          grid-column: 1 / 3;
        }
      }

      .sidebar {
        align-self: center;
        justify-self: flex-end;

        @media (width > 60rem) {
          grid-column: 1 / 2;
          grid-row: 2;
          align-self: flex-start;
          justify-self: flex-start;
        }
      }

      .main {
        grid-column: 1 / 3;
        grid-row: 2;

        @media (width > 60rem) {
          grid-column: 2 / 3;
        }
      }

      .footer {
        grid-column: 3;
        grid-column: 1 / 3;

        @media (width > 60rem) {
          grid-column: 2 / 3;
        }
      }
    </style>
  </head>

  <body class="wrapper">
    <header class="header">
      <Nav />
    </header>

    <div class="sidebar">
      <Sidebar />
    </div>

    <main class="main">
      <slot />
    </main>

    <footer class="footer">
      <Footer />
    </footer>

    <!-- Cloudflare Web Analytics -->
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token":"c0a29b8f08ab479fb93bbe25ef7d71b6"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <script>
      import { XDateTime } from '../lib/x-datetime'
      customElements.define('x-datetime', XDateTime)
    </script>
  </body>
</html>
