---
import { Markdown } from '@astropub/md'
import Base from '@/layouts/Base.astro'

const title = Astro.props.title ?? Astro.props.content.title ?? Astro.props.frontmatter.title
const header = Astro.props.header ?? title
---

<style>
  .header {
    line-height: 1.2;
  }
  .header :global(code) {
    --code-background: var(--stone-2);
    --code-color: var(--stone-9);
    --code-font-size: 0.85em;

    font-size: var(--code-font-size);
    padding: 2px 4px;
    border-radius: var(--radius-1);
    color: var(--code-color);
    background-color: var(--code-background);
    font-variant-ligatures: none;
    word-break: break-word;
  }
</style>

<Base title={title}>
  <article class="flow">
    <header>
      <h1 class="header"><Markdown.Inline of={header} /></h1>
    </header>

    <div class="global:content">
      <slot />
    </div>
  </article>
</Base>
