---
import Base from '../../layouts/Base.astro'
import PostList from '../../components/PostList.astro'
import Paginator from '../../components/Paginator.astro'
import { getAllPosts, POSTS_PER_PAGE } from '../../lib.js'

export async function getStaticPaths({ paginate }) {
  const posts = getAllPosts(await Astro.glob('./*.md'))

  return paginate(posts, { pageSize: POSTS_PER_PAGE });
}

const { page } = Astro.props;
---

<Base title={`Tất cả bài viết - Trang ${page.currentPage}`}>
<h1 class="mb-4">Tất cả bài viết - Trang {page.currentPage}</h1>

<div class="mb-4">
  <PostList posts={page.data} />
</div>

<Paginator page={page} />
</Base>
