---
import { getCollection, render } from 'astro:content'
import Post from '@/layouts/Post.astro'
import Picture from '@/components/Picture.astro'

export async function getStaticPaths() {
  const posts = await getCollection('post')

  return posts.flatMap((post) => {
    return {
      params: { slug: post.id },
      props: { entry: post },
    }
  })
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<Post title={entry.data.title} header={entry.data.title}>
  <Picture figure={entry.data?.figure} cover={entry.data?.cover} />

  <Content />

  <div id="comments">
    <script
      is:inline
      src="https://utteranc.es/client.js"
      repo="ehkoo/web"
      issue-term="pathname"
      label="web-comments"
      theme="github-light"
      crossorigin="anonymous"
      async></script>
  </div>

  <script>
    import '@zachleat/browser-window'
  </script>
</Post>
